@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form  asp-action="Login"  asp-controller="Users">

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="form-group">
        <label for="exampleInputEmail1">Nhap Usersname</label>
        <input type="text" class="form-control" name="name" >
        <small id="emailHelp" class="form-text text-muted">k chia se email cho ai.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Nhap Password</label>
        <input type="password" class="form-control" name="password" >
        <small id="emailHelp" class="form-text text-muted">k chia se MK cho ai.</small>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Nho MK cho lan sau</label>
    </div>
    <p>Bạn chưa có tài khoản? <a asp-controller="Users" asp-action="Register">Đăng ký tại đây</a></p>

    <button type="submit" class="btn btn-primary">Dang nhap</button>
</form>